<h1>Sign in</h1>

<form action="/users/create-session" method="post">
    <input type="email" name="email"  placeholder="email" >
    <input type="password" name="password" placeholder="password">
    <input type="submit" name="SignUp" value="Login">
</form>